
 {# NAV BAR #}

    <div class="navbar">
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="#">youHou<span class="badge">plop</span></a></li>
            <li><a href="#">veille<span class="new badge">plip</span></a></li>
            <li><a href="#">JOB</a></li>
        </ul>
        <a class="btn dropdown-button" href="#!" data-activates="dropdown2">menu<i class="material-icons right">arrow_drop_down</i></a>
    </div>
