{% extends 'base.html.twig' %}

{% block body %}


<div id="card">
    <div class="parallax-container">
        <div class="parallax"><img src="https://vertufineart.com/wp-content/uploads/2013/03/Alex-Katz-gray-day-1992.jpg"></div>
    </div>


    








    <div class="parallax-container">
        <div class="parallax"><img src="https://static1.squarespace.com/static/5758eea3746fb9e75f9439d0/t/57cd302e8419c2fd01a4bed8/1473065007044/Katz034-430PM-e1437674232683.jpg?format=1500w"></div>
    </div>

</div>
{% endblock %}