{% extends 'base.html.twig' %}

{% block nav %}
<div class='container container_custom'>
    <div id="conteneur-menu2">
        <ul>

            <li><a href="formation.php">Formation</a></li>
            <li><a href="projet.php">Projets</a></li>
            <li><a href="parcours.php">Parcours</a></li>

        </ul>
    </div>
{% endblock %}

